*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 100%;
    max-height: 900px;
}

.col-1 {
    width: 50%;
    float: left;
}

.col-2 {
    width: 50%;
    float: right;
    margin: 0 auto;
    padding: 80px 140px;

}

.title {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: #212529;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-top: 60px;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #212529;
}

h3 {
    margin-top: 40px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #212529;

}

.inf {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 24px;
}

button {
    width: 100%;
    height: 48px;
    margin-top: 24px;
    border-radius: 5px;
    font-family: 'Lora';
    color: white;
    font-weight: 700;
    font-size: 16px;

}

.btn-1 {
    background: #D4A373;
    border-color: #D4A373;
}

.btn-2 {
    background: #343A40;
    border-color: #343A40;
}

.link {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #D4A373;
    text-decoration: none;
}

.link-reg {
    margin-left: 20px;
}

.link-pass{
    margin-top: 24px;
}

.check {
    margin-top: 24px;

}



.text {
    font-family: 'Lora';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-top: 24px;
}

.creation{
    display: flex;
    justify-content: space-between;
}


